{{> admin-outer-1}}

<div id="center-column" style="margin-left:5px">
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
                <table id="userManagerTable" class="table" >
                    <caption>上传列表</caption>
                    <thead>
                        <tr>
                            <th>管理员</th>
                            <th>加入日期</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="float:left;display:inline-block">admin </td>
                            <td id="bt1">2017-10-10T12:20:1Z</td>
                            <td><a href="#" style="color:blue;display:inline-block;margin-left:20px">删除</a></td>
                        </tr>

                    </tbody>
                </table>
        </section>
    </section>
</div>

{{> admin-outer-2}}
