{{> admin-outer-1}}

<div id="center-column" style="margin-left:5px">
    
    <div class="table">
        <img src="../../images/bg-th-left.gif" alt="" class="left" width="8" height="7">
        <img src="../../images/bg-th-right.gif" alt="" class="right" width="7" height="7">
        <table class="listing form" cellspacing="0" cellpadding="0"><tbody>
            <tr>
                <th class="full" colspan="2">输入信息</th>
            </tr>
            <tr>
                <td class="first" width="172"><strong>旧密码</strong></td>
                <td class="last"><input class="text" id="old_pwd" type="password"></td>
            </tr>
            <tr class="bg">
                <td class="first"><strong>新密码</strong></td>
                <td class="last"><input class="text" id="pwd" type="password"></td>
            </tr>
            <tr>
                <td class="first"><strong>确认密码</strong></td>
                <td class="last"><input class="text" id="pwd2" type="password"></td>
            </tr>
            <tr class="bg">
                <td class="first">&nbsp;</td>
                <td class="last">
                    <input value="修改" id="btn_submit" type="button">
                </td>
            </tr>
        </tbody></table>
        <p>&nbsp;</p>
    </div>
</div>

{{> admin-outer-2}}
