{{> admin-outer-1}}

<div id="center-column" style="margin-left:5px">
    <textarea name="name" rows="8" cols="80" style="height:400px"></textarea>
    <p></p>
    <button type="button" style="width:200px" class="btn submit" name="button">æäº¤</button>
</div>

{{> admin-outer-2}}
