{{> admin-outer-1}}

<div id="center-column" style="margin-left:5px">
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
                <table id="userManagerTable" class="table" >
                    <caption>上传列表</caption>
                    <thead>
                        <tr>
                            <th>用户</th>
                            <th>作品ID</th>
                            <th>日期</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="float:left;display:inline-block">pp  </td>
                            <td>10000</td>
                            <td id="bt1">2017-10-10T12:20:1Z</td>
                            <td><a href="#" style="color:blue;display:inline-block;margin-left:20px">详细 | 删除</a></td>
                        </tr>
                        <tr>
                            <td style="float:left;display:inline-block">ui </td>
                            <td>10001</td>
                            <td id="bt2">2017-10-12T17:2:3Z</td>
                            <td><a href="#" style="color:blue;display:inline-block;margin-left:20px">详细 | 删除</a></td>
                        </tr>
                        <tr>
                            <td style="float:left;display:inline-block">test</td>
                            <td>10002</td>
                            <td id="bt2">2017-10-14T16:12:55Z</td>
                            <td><a href="#" style="color:blue;display:inline-block;margin-left:20px">详细 | 删除</a></td>
                        </tr>
                    </tbody>
                </table>
        </section>
    </section>
</div>

{{> admin-outer-2}}
