<link rel="stylesheet" type="text/css" href="/footer/foot.css">


<div class="ftCon-Wrapper">
	<div id="ftConw">
		<p id="lh">
			<a id="setf"   >name:Dgame</a>
			<a > 关于我们 </a>
			<a >About  Us</a>
			<a > 独游推广 </a>
		</p>
			<p id="cp">©2017 Dgame 
				<a href="https://github.com/regaliastar/dgame">  github  </a> 
				<a > 给予意见 </a> 
			</p>
		</div>
	</div>
</div>

</html>