<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="description" content="dgame，目前还需施工...">
	<script src="js/jquery-3.1.1.js"></script>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<style type="text/css">
	.left {
    	float: left;
   	    text-align: left;
   	    width: 50%;
	}
	.signup-form__logo{
		background-image: url("img/logo/sign-logo.png") !important;
		background-repeat: no-repeat;
		display: inline-block;
		height: 70px;
		width: 180px;
	}
	#background-slideshow .slide {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
}

	#background-slideshow .wallpaper {
		background-position: 50% 0;
		background-size: cover;
		height: 100%;
		opacity: 1;
		transition-duration: 1s;
		transition-property: opacity;
		transition-timing-function: ease;
		width: 100%;
	}

	#container-login{
		min-height: 282px!important;
	}

	#other-wrong{
		min-height: 30px !important;
	}
</style>
<body>
	<div id="background-slideshow">
		<div class=" slide">
			<div class="wallpaper" style="background-image:url('img/background/2.jpg')">
				
			</div>
		</div>
	</div>