<style type="text/css">
	.security_content {
	background: #fafafa none repeat scroll 0 0;
	border: 1px solid #e1e2e5;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);
	height: 100%;
	margin: 10px auto 100px;
	overflow: hidden;
	width: 1080px !important;
}
.security-right{
	min-height: 732px!important;
}
.mytop {
    background: rgba(0, 0, 0, 0) url("../img/background/site_top.png") repeat scroll 0 0;
    height: 106px;
    margin: 0 auto;
    width: 980px;
}
</style>

<div class="top_bg">
	<div class="mytop"></div>
</div>

<div class="security_content">

	<div class="security-left">
		<ul class="security-list">
			<li class="f-list" style="cursor: default;">
				<a class="first-level" href="#" style="color: #99a2aa;cursor: default;">个人中心</a>
				<ul class="child-list">
					<li>
						<a id="home" href="/user" rec-linkid="account_tab_index_click" title="首页">
							<i class="al-sy"></i>
							<span>
								首
								<b class="nbsp"></b>
								页
							</span>
						</a>
					</li>
					<li style="display: none;">
						<span id="selected-li">{{select}}</span>
					</li>
					<li>
						<a id="setting" href="/site">
							<i class="al-info check-t"></i>
							<span>我的信息</span>
						</a>
					</li>
					<li>
						<a id="avatar" href="/site/avatar">
							<i class="al-tx"></i>
							<span>我的头像</span>
						</a>
					</li>
					<li>
						<a id="safe" href="/site/safe">
							<i class="al-aq"></i>
							<span>账号安全</span>
						</a>
					</li>


				</ul>
			</li>
		</ul>
	</div>

	<script type="text/javascript">
		$(document).ready(function(){


		})
	</script>