{{>header}}

<link rel="stylesheet" href="/css/msg.css" />

<div data-v-a92e485c="" class="container">
    <div data-v-a92e485c="" class="space-left">
        <div data-v-4efeaf35="" data-v-a92e485c="" class="side-bar">
            <div data-v-4efeaf35="" class="title">
                <div data-v-4efeaf35="" class="icon"></div>
                <div data-v-4efeaf35="">
                    消息中心
                </div>
            </div>
            <ul data-v-4efeaf35="" class="list">
                <li data-v-4efeaf35="" class="item"><a data-v-4efeaf35="" href="#/reply" class="" title="回复我的">回复我的 </a></li>

            </ul>
        </div>
    </div>
    <div data-v-a92e485c="" class="space-right">
        <div data-v-a92e485c="" class="space-right-top">
            <div data-v-a92e485c="" class="title">
                <div data-v-a92e485c="">
                    私信窗口
                </div>
            </div>
        </div>
        <div data-v-a92e485c="" class="space-right-bottom ps ps--theme_default" data-ps-id="c34da49c-86d1-142a-29f2-23c9e78494df">
            <div data-v-a92e485c="" class="router-view">
                <div data-v-6eb953f2="" data-v-40646282="" data-v-a92e485c="" class="card whisper">
                    <div data-v-40646282="" data-v-6eb953f2="" class="list">
                        <div data-v-40646282="" data-v-6eb953f2="" class="list-title">
                            近期消息
                        </div>
                        <div data-v-40646282="" data-v-6eb953f2="" class="list-content ps ps--theme_default" data-ps-id="11994c1a-1281-ebdd-1840-7602abfaad19">
                            <div data-v-40646282="" class="list-content-child" data-v-6eb953f2="">
                                <a data-v-37410629="" data-v-40646282="" href="#/archive/ridd07cc0bbc6215b0238bbc8dc48c89030" class="list-item" title="xm787269">
                                    <div data-v-37410629="" class="avatar" style="background-image: url(&quot;/img/face/default.jpg&quot;);"></div>
                                    <div data-v-37410629="" class="name-box">
                                        <div data-v-37410629="" class="name">
                                            格子君ik
                                        </div>
                                        <div data-v-37410629="" class="last-word">
                                            Nullchou，1111111111111111
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                <div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                            </div>
                            <div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;">
                                <div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                            </div>
                        </div>
                    </div>
                    <div data-v-40646282="" data-v-6eb953f2="" class="dialog">
                        <div data-v-366d4c91="" data-v-40646282="" class="dialog" data-v-6eb953f2="">
                            <div data-v-366d4c91="" class="title">
                                <span data-v-366d4c91="">格子君ik</span>
                            </div>
                            <div data-v-4b06b973="" data-v-366d4c91="" class="message-list ps ps--theme_default" data-ps-id="fbd7335d-0f94-cf2c-b080-78cc3e8999cb">
                                <div data-v-4b06b973="" class="message-list-content">

                                    <div data-v-00aa3dd0="" data-v-4b06b973="" class="msg-more">
                                        <span data-v-00aa3dd0="" class="load-more" style=""><span data-v-00aa3dd0="" class="icon"></span>查看以往消息</span>
                                        <span data-v-00aa3dd0="" class="no-more" style="display: none;">没有更多消息了～</span>
                                        <span data-v-00aa3dd0="" class="loading" style="display: none;"><span data-v-00aa3dd0="" class="icon"></span>加载中...</span>
                                    </div>

                                    <div data-v-52e711d6="" data-v-4b06b973="" class="msg-item not-me">
                                        <a data-v-52e711d6="" href="//space.bilibili.com/10631436" title="格子君ik" target="_blank" class="avatar" style="background-image: url(&quot;/img/face/default.jpg&quot;);"></a>
                                        <div data-v-52e711d6="" class="message">
                                            &nbsp;(｀・ω・&acute;)打扰了
                                        </div>
                                    </div>

                                    <div data-v-de3506e0="" data-v-4b06b973="" class="msg-time">
                                        <span data-v-3cf12ee3="" data-v-de3506e0="" class="time">2017年9月15日 上午01:41</span>
                                    </div>

                                    <div data-v-52e711d6="" data-v-4b06b973="" class="msg-item not-me">
                                        <a data-v-52e711d6="" href="//space.bilibili.com/10631436" title="格子君ik" target="_blank" class="avatar" style="background-image: url(&quot;/img/face/default.jpg&quot;);"></a>
                                        <div data-v-52e711d6="" class="message">
                                            (｀・ω・&acute;)补发
                                        </div>
                                    </div>

                                    <div class="msg-item is-me" data-v-52e711d6="" data-v-4b06b973="">
                                        <a data-v-52e711d6="" href="//space.bilibili.com/1937867" title="Nullchou" target="_blank" class="avatar" style="background-image: url(&quot;/img/face/default.jpg&quot;);"></a>
                                        <div data-v-52e711d6="" class="message">
                                            (￣3￣)
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="new-message-tip" data-v-6d1a0351="">
                                <div data-v-6d1a0351=""><div data-v-6d1a0351="" class="text" style="display: none;">您有 0 条新消息</div></div>
                            </div>

                            <div class="send-box" data-v-126e1ccf="" data-v-6d1a0351="">
                             <div data-v-126e1ccf="" class="row">
                              <div data-v-34e0d924="" data-v-126e1ccf="" class="emoji-btn">
                               <a data-v-34e0d924="" title="颜文字" class="emoji-btn-box"></a>
                               <div data-v-34e0d924="" id=".emoji-box" class="emoji-box" style="bottom: 36px; transform-origin: 50% 100% 0px; display: none;">
                                <a data-v-34e0d924="" class="emoji-item">(⌒▽⌒)</a>
                                <a data-v-34e0d924="" class="emoji-item">（￣▽￣）</a>
                                <a data-v-34e0d924="" class="emoji-item">(=・ω・=)</a>
                                <a data-v-34e0d924="" class="emoji-item">(｀・ω・&acute;)</a>
                                <a data-v-34e0d924="" class="emoji-item">(〜￣△￣)〜</a>
                                <a data-v-34e0d924="" class="emoji-item">(･∀･)</a>
                                <a data-v-34e0d924="" class="emoji-item">(&deg;∀&deg;)ﾉ</a>
                                <a data-v-34e0d924="" class="emoji-item">(￣3￣)</a>
                                <a data-v-34e0d924="" class="emoji-item">╮(￣▽￣)╭</a>
                                <a data-v-34e0d924="" class="emoji-item">(&acute;_ゝ｀)</a>
                                <a data-v-34e0d924="" class="emoji-item">←_←</a>
                                <a data-v-34e0d924="" class="emoji-item">→_→</a>
                                <a data-v-34e0d924="" class="emoji-item">(&lt;_&lt;)</a>
                                <a data-v-34e0d924="" class="emoji-item">(&gt;_&gt;)</a>
                                <a data-v-34e0d924="" class="emoji-item">(;&not;_&not;)</a>
                                <a data-v-34e0d924="" class="emoji-item">(&quot;▔□▔)/</a>
                                <a data-v-34e0d924="" class="emoji-item">(ﾟДﾟ≡ﾟдﾟ)!?</a>
                                <a data-v-34e0d924="" class="emoji-item">Σ(ﾟдﾟ;)</a>
                                <a data-v-34e0d924="" class="emoji-item">Σ(￣□￣||)</a>
                                <a data-v-34e0d924="" class="emoji-item">(&acute;；ω；`)</a>
                                <a data-v-34e0d924="" class="emoji-item">（/TДT)/</a>
                                <a data-v-34e0d924="" class="emoji-item">(^・ω・^ )</a>
                                <a data-v-34e0d924="" class="emoji-item">(｡･ω･｡)</a>
                                <a data-v-34e0d924="" class="emoji-item">(●￣(ｴ)￣●)</a>
                                <a data-v-34e0d924="" class="emoji-item">ε=ε=(ノ≧∇≦)ノ</a>
                                <a data-v-34e0d924="" class="emoji-item">(&acute;･_･`)</a>
                                <a data-v-34e0d924="" class="emoji-item">(-_-#)</a>
                                <a data-v-34e0d924="" class="emoji-item">（￣へ￣）</a>
                                <a data-v-34e0d924="" class="emoji-item">(￣ε(#￣)Σ</a>
                                <a data-v-34e0d924="" class="emoji-item">ヽ(`Д&acute;)ﾉ</a>
                                <a data-v-34e0d924="" class="emoji-item">(╯&deg;口&deg;)╯(┴—┴</a>
                                <a data-v-34e0d924="" class="emoji-item">（#-_-)┯━┯</a>
                                <a data-v-34e0d924="" class="emoji-item">_(:3」∠)_</a>
                                <a data-v-34e0d924="" class="emoji-item">(笑)</a>
                                <a data-v-34e0d924="" class="emoji-item">(汗)</a>
                                <a data-v-34e0d924="" class="emoji-item">(泣)</a>
                                <a data-v-34e0d924="" class="emoji-item">(苦笑)</a>
                               </div>
                              </div>
                             </div>
                             <!---->
                             <div data-v-124f56e1="" data-v-126e1ccf="" class="input-box">
                              <textarea data-v-124f56e1="" placeholder="回复一下吧~" maxlength="500" class="textarea" style="height: 60px;"></textarea>
                              <div data-v-124f56e1="" class="indicator" style="bottom: -30px; right: 100px;">
                               <span data-v-124f56e1="" class="">0</span>/
                               <span data-v-124f56e1="">500</span>
                              </div>
                             </div>
                             <div data-v-126e1ccf="" class="row right">
                              <button data-v-149997b3="" data-v-126e1ccf="" class="btn-box send-btn">发送</button>
                             </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $('.emoji-btn-box').on('click',function(){
        $(".emoji-box").is(":hidden") ? $(".emoji-box").slideDown() : document.getElementById('.emoji-box').style.display='none';
    });
</script>
{{footer}}
