{{>header}}

<link rel="stylesheet" href="/css/msg.css" />

<div data-v-a92e485c="" class="container">
    <div data-v-a92e485c="" class="space-left">
        <div data-v-4efeaf35="" data-v-a92e485c="" class="side-bar">
            <div data-v-4efeaf35="" class="title">
                <div data-v-4efeaf35="" class="icon"></div>
                <div data-v-4efeaf35="">
                    消息中心
                </div>
            </div>
            <ul data-v-4efeaf35="" class="list">
                <li data-v-4efeaf35="" class="item"><a data-v-4efeaf35="" href="#/reply" class="" title="回复我的">回复我的 </a></li>

            </ul>
        </div>
    </div>
    <div data-v-a92e485c="" class="space-right">
        <div data-v-a92e485c="" class="space-right-top">
            <div data-v-a92e485c="" class="title">
                <div data-v-a92e485c="">
                    私信窗口
                </div>
            </div>
        </div>
        <div data-v-a92e485c="" class="space-right-bottom ps ps--theme_default" data-ps-id="c34da49c-86d1-142a-29f2-23c9e78494df">
            <div data-v-a92e485c="" class="router-view">
                <div data-v-6eb953f2="" data-v-40646282="" data-v-a92e485c="" class="card whisper">
                    <div data-v-40646282="" data-v-6eb953f2="" class="list">
                        <div data-v-40646282="" data-v-6eb953f2="" class="list-title">
                            历史私信
                        </div>
                        <div data-v-40646282="" data-v-6eb953f2="" class="list-content ps ps--theme_default" data-ps-id="11994c1a-1281-ebdd-1840-7602abfaad19">
                            <div data-v-40646282="" class="list-content-child" data-v-6eb953f2="">
                                <a data-v-37410629="" data-v-40646282="" href="#/archive/ridd07cc0bbc6215b0238bbc8dc48c89030" class="list-item" title="xm787269">
                                    <div data-v-37410629="" class="avatar" style="background-image: url(&quot;/img/face/default.jpg&quot;);"></div>
                                    <div data-v-37410629="" class="name-box">
                                        <div data-v-37410629="" class="name">
                                            xm787269
                                        </div>
                                        <div data-v-37410629="" class="last-word">
                                            Nullchou，1111111111111111
                                        </div>
                                    </div>
                                </a>
                                <a data-v-37410629="" data-v-40646282="" href="#/archive/rid7e0ae99e8b75d7a023d20dd0a27016eb" class="list-item" title="丿二师兄i">
                                    <div data-v-37410629="" class="avatar" style="background-image: url(&quot;/img/face/default.jpg&quot;);"></div>
                                    <div data-v-37410629="" class="name-box">
                                        <div data-v-37410629="" class="name">
                                            丿二师兄i
                                        </div>
                                        <div data-v-37410629="" class="last-word">
                                            Nullchou，156156321361236
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                <div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                            </div>
                            <div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;">
                                <div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                            </div>
                        </div>
                    </div>
                    <div data-v-40646282="" data-v-6eb953f2="" class="dialog">
                        <div data-v-366d4c91="" data-v-40646282="" class="dialog" data-v-6eb953f2="">
                            <div data-v-366d4c91="" class="title">
                                <span data-v-366d4c91="">格子君ik</span>
                            </div>
                            <div data-v-4b06b973="" data-v-366d4c91="" class="message-list ps ps--theme_default" data-ps-id="fbd7335d-0f94-cf2c-b080-78cc3e8999cb">
                                <div data-v-4b06b973="" class="message-list-content">

                                    <div data-v-00aa3dd0="" data-v-4b06b973="" class="msg-more">
                                        <span data-v-00aa3dd0="" class="load-more" style=""><span data-v-00aa3dd0="" class="icon"></span>查看以往消息</span>
                                        <span data-v-00aa3dd0="" class="no-more" style="display: none;">没有更多消息了～</span>
                                        <span data-v-00aa3dd0="" class="loading" style="display: none;"><span data-v-00aa3dd0="" class="icon"></span>加载中...</span>
                                    </div>

                                    <div data-v-52e711d6="" data-v-4b06b973="" class="msg-item not-me">
                                        <a data-v-52e711d6="" href="//space.bilibili.com/10631436" title="格子君ik" target="_blank" class="avatar" style="background-image: url(&quot;/img/face/default.jpg&quot;);"></a>
                                        <div data-v-52e711d6="" class="message">
                                            &nbsp;(｀・ω・&acute;)打扰了
                                        </div>
                                    </div>

                                    <div data-v-de3506e0="" data-v-4b06b973="" class="msg-time">
                                        <span data-v-3cf12ee3="" data-v-de3506e0="" class="time">2017年9月15日 上午01:41</span>
                                    </div>

                                    <div data-v-52e711d6="" data-v-4b06b973="" class="msg-item not-me">
                                        <a data-v-52e711d6="" href="//space.bilibili.com/10631436" title="格子君ik" target="_blank" class="avatar" style="background-image: url(&quot;/img/face/default.jpg&quot;);"></a>
                                        <div data-v-52e711d6="" class="message">
                                            (｀・ω・&acute;)补发
                                        </div>
                                    </div>

                                    <div class="msg-item is-me" data-v-52e711d6="" data-v-4b06b973="">
                                        <a data-v-52e711d6="" href="//space.bilibili.com/1937867" title="Nullchou" target="_blank" class="avatar" style="background-image: url(&quot;/img/face/default.jpg&quot;);"></a>
                                        <div data-v-52e711d6="" class="message">
                                            (￣3￣)
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{{footer}}
