<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0056)http://news.17173.com/content/10202017/162708701_1.shtml -->
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
   
  <title>VR占领下一代?美国8岁以下儿童11%有VR头显</title> 
  <link type="text/css" rel="stylesheet" href="/css/comm.css"> 
 
 <body style="padding-top: 44px;">

   <div class="content-sub vr-final"> 
    <div class="wc clearfix"> 
     <div class="vr-final-main"> 

	 
      <div class="vr-final-mod-article"> 
       <div class="vr-article-hd"> 
        <h1 class="article-tit forsetLink3 classNameForSetLinkSearch" adskey="yAN3ya">VR占领下一代?美国8岁以下儿童11%有VR头显</h1> 
        <div class="info"> 
         <span class="date forsetLink3 classNameForSetLinkSearch" adskey="yAN3ya">
		 <i class="aico aico-clock"></i>2017-10-20 16:27</span>  
        </div> 
       </div> 
       <div class="vr-article-bd">
         <p>来自Common Sense Media的一项新的研究表明，美国儿童的屏幕使用量与前几年大致相同，但关注点却发生了巨大的变化。</p> 
<p>以2011年和2013年的类似研究为基础，新发布的《Common Sense调查：0~8岁儿童的媒体使用》反映了儿童与媒体技术之间关系演变的过程。这项2017年进行的研究调查了来自高收入和低收入家庭不同背景的1,454名美国父母，他们发现孩子们每天大概花费两个小时19分钟观看屏幕媒体。</p> 
<p class="p-image" style="text-align: center;"><img src="./VR占领下一代_美国8岁以下儿童11%有VR头显_files/jlWGKEblCCoqCrk.jpg" width="640" height="360" alt="google-expedition-kids-virtual-reality.jpg"></p> 
<p>在这些媒体中，虽然电视依然以每天58分钟的时间，排在儿童注意力的首位，但报告发现，有小孩子的家庭现在更愿意收看像Netflix或Hulu(72%)之类的订阅视频服务，而不是有线电视(65%)。</p> 
<p>同时，与手机相关的活动时间也正在快速增长，2017年该数据达到了每天48分钟(2013年为15分钟，2011年只有5分钟)。事实上，到了2017年，手机时间占到了屏幕时间的三分之一(约为35%，2011年为4%)。这一增长与拥有移动设备家庭数量的上升是一致的(2017年为98%，2013年为75%，2011年为52%)。8岁以下儿童的家庭中有95%都拥有智能手机，比2013年(63%)和2011年(41%)都有所增加。</p> 
<p class="p-image" style="text-align: center;"><img src="./VR占领下一代_美国8岁以下儿童11%有VR头显_files/UVyPtBblCCoqCno.jpg" width="640" height="360" alt="mumson-vr-1483965452-gzCe-full-width-inline.jpg"></p> 
<p>78%的受访家庭拥有平板电脑(2013年为41%，2011年为8%)。在这些有平板电脑的家庭中，42%的受访者表示他们所使用的是专为8岁以下儿童设计的平板电脑，该数据在2013年是7%，2011年则不到1%。</p> 
<p>有趣的是，研究显示，2岁以下儿童的屏幕媒体使用量从2013年的每天53分钟下降到了2017年的每天42分钟。时间的减少主要是由于DVD观看次数的下降，尽管这一年龄段的移动设备使用量略有增加，抵消了一部分在DVD上减少的时间。然而，Common Sense的报告认为这16分钟的差异没有统计学意义。</p> 
<p>另一个发现是近年来数字鸿沟有所缩小。研究发现，在孩子不满8岁的受访者中，74%的低收入家庭在家中拥有高速的互联网服务，而高收入家庭中这一比率为96%。相比之下，2011年，只有42%的低收入家庭家中有宽带接入，高收入家庭则为92%。</p> 

       </div> 
      </div>    
     </div> 
    </div> 
   </div> 



  
</body>

</html>