{{> sign-header}}
<script type="text/javascript" src="js/config.js"></script>
	<div class="signup-form ">
		<div class="signup-form__logo-box">
			<div class="signup-form__logo"></div>
			<div class="signup-form__catchphrase">让创作变得更有乐趣</div>
		</div>
		<div id="container-login">
			<div data-reactroot="">
				<span>
					<form onsubmit="return false">
						<div class="input-field-group">
							<div class="input-field">
								<input class="username" placeholder="昵称（例：kiana）" autocapitalize="on" type="text">
							</div>
							<div class="input-field">
								<input class="password" placeholder="密码，6-16个字符组成，区分大小写" autocapitalize="off" type="password">
							</div>
							<div class="input-field">
								<input class="tele" placeholder="填写常用手机号" autocapitalize="on" type="text">
							</div>
							<div class="input-field">
								<input class="identify" placeholder="请输入手机验证码" disabled="true" autocapitalize="off" type="text">
							</div>
						</div>
						<ul class="error-msg-list">
							<li id="wrong-msg" class="error-msg-list__item" style="display: none;"></li>
						</ul>

						<button id="signup" class="signup signup-form__submit">注册</button>
						<button class="getIdentify signup-form__submit">获取验证码</button>
						<div class="signup-form-nav">
							<div class="left">
								<a href="/signin">已有账号</a>
							</div>
							<div class="right">
								<a href="/reminder" target="_blank">忘记了</a>
							</div>
						</div>
					</form>
				</span>
			</div>
		</div>

	</div>

</body>
<link rel="stylesheet" type="text/css" href="css/signin.css" >
<script type="text/javascript" src="js/signup.js"></script>
{{> footer}}
