{{> sign-header}}

	<div class="signup-form ">
		<div class="signup-form__logo-box">
			<div class="signup-form__logo"></div>
			<div class="signup-form__catchphrase">让创作变得更有乐趣</div>
		</div>
		<div id="container-login">
			<div data-reactroot="">
				<span>
					<form onsubmit="return false">
						<div class="input-field-group">
							<div class="input-field">
								<input class="tele" placeholder="手机号码" autocapitalize="on" type="text">
							</div>
							<div class="input-field">
								<input class="password" placeholder="密码" autocapitalize="off" type="password">
							</div>
						</div>
						<ul class="error-msg-list">
							<li id="pw-wrong" class="error-msg-list__item" style="display: none;">密码不正确，请重新输入</li>
							<li id="waiting" class="error-msg-list__item" style="display: none;">正在登录，请稍等...</li>
						</ul>
						<p id="other-wrong"></p>
						<button id="button" class="signin signup-form__submit">登录</button>
						<a href="/signup" class="signup signup-form__submit">没有账号</a>
						<div class="signup-form-nav">
							<div class="left"></div>
							<div class="right">
								<a href="/reminder" target="_blank">忘记了</a>
							</div>
						</div>
					</form>
				</span>
			</div>
		</div>

	</div>


</body>
<link rel="stylesheet" type="text/css" href="css/signin.css" >
<script type="text/javascript" src="js/signin.js"></script>
{{> footer}}
